.recipe-list {
    margin: 0 auto;
    width: fit-content;
}
.recipe {
    padding: 1rem;
    border: 1px solid #003097;
    border-radius: 5px;
    margin-top: 1.5rem;
    text-align: left;
}
.recipe:hover {
    background: #1d2c3c;
    border-color: #1d2c3c;
    color: white;
    cursor: pointer;
    transition: all 0.125s ease-in-out
}
p {
    margin: 0.25rem 0;
}
p.name {
    font-weight: bold;
}
.ingredients {
    margin-top: 1rem;
}
span.ingredient {
    padding: 0.5rem;
    margin-right: 0.2rem;
    border-radius: 8px;
    background: green;
    color: white;
}
.buttons {
    margin-top: 1rem;
    display: flex;
}
.buttons button, .buttons input {
    flex-basis: 50%;
}